name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    permissions:
      packages: write

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag ghcr.io/sboogway/poker-api:$GITHUB_SHA

    - name: Login to ghcr.io
      run: docker login ghcr.io -u sboogway -p ${{ secrets.GH_PAT }}
      
    - name: Push to ghcr.io
      run: docker push ghcr.io/sboogway/poker-api:$GITHUB_SHA
